---
title: 'Trap'
description: 'An attachment limits the focus target inside the element.'
---

<script>
	import {CodePreview} from '$site/index.js'
	import Comp from './component.svelte';
	import code from './component.svelte?raw';
</script>

<CodePreview {Comp} {code} />

## Basic Example

```svelte
<script>
	import { trap } from 'lithesome';
</script>

<div {@attach trap()}>
	<input />
	<button>Click me</button>
</div>
```
