---
title: 'Pin Input'
description: 'Allows a sequence of one-character inputs.'
---

<script>
	import {CodePreview, Info} from '$site/index.js'
	import Comp from './component.svelte';
	import code from './component.svelte?raw';
</script>

<CodePreview {Comp} {code} />

## Basic Example

```svelte
<script lang="ts">
	import { Pin, PinInput } from 'lithesome';

	let value = $state([]);
</script>

<Pin bind:value>
	<PinInput />
	<PinInput />
	<PinInput />
	<PinInput />
</Pin>
```
