---
title: 'Checkbox'
description: 'A control that lets users switch between a checked and unchecked state.'
---

## Basic Example

```svelte
<script>
	import { Checkbox } from 'lithesome';

	let checked = $state(false);
</script>

<Checkbox bind:checked>
	{#if checked}
		Check Icon
	{:else}
		Nothing
	{/if}
</Checkbox>
```
