---
title: 'Tabs'
description: 'Organize content to sections.'
---

<script>
	import {CodePreview} from '$site/index.js'
	import Comp from './component.svelte';
	import code from './component.svelte?raw';
</script>

<CodePreview {Comp} {code} />
