/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--accent: theme(colors.violet.500);
	}
}

@layer utilities {
	.wrap {
		@apply mx-auto w-full max-w-screen-xl px-6;
	}
}
