---
title: 'Slider'
description: 'An input where the value is within a set range.'
---

## Basic Example

```svelte
<script lang="ts">
	import { Slider, SliderRange, SliderThumb } from 'lithesome';

	let value = $state(20);
</script>

<Slider bind:value>
	<SliderRange />
	<SliderThumb />
</Slider>
```
